<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- pouchdb js -->
    <script src="lib/pouchdb/dist/pouchdb.js"></script>
    <script src="lib/pouchdb-replication-stream/dist/pouchdb.replication-stream.js"></script>

    <!-- uuid -->
    <script src="lib/node-uuid/uuid.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- memorystream -->
    <script src="js/memorystream.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">bluetoothSyncIonic</h1>
      </ion-header-bar>
      <ion-content>
        <span>Sync Server (ExpressAPP)</span>
        <input type="text" name="syncserver_ip"
          ng-model="syncserver_ip" style="width:90%">
        <span>Couchdb Server</span>
        <input type="text" name="couchdb_server"
          ng-model="couchdb_server" style="width:90%">
        <span>DataBase Name</span>
        <input type="text" name="db_name"
          ng-model="db_name" style="width:90%">
        <form ng-submit="createNewObject()">
          <div class="list">
            <label for="" class="item item-input">
              <span class="input-label">Name:</span>
              <input type="text" name="name" ng-model="newDoc.name">
            </label>
            <label for="" class="item item-input">
              <span class="input-label">Profession:</span>
              <input type="text" name="name" ng-model="newDoc.profession">
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit" name="button">Create</button>
            </label>
          </div>
        </form>
        <span style="color:red;">{{ success }}</span>
        <br>
        <button class="button button-block button-dark" type="button"
          ng-click="dump_pouchdb()">
          Dump PouchDB
        </button>
        <!-- <button class="button button-block button-balanced" type="button"
          ng-click="upload_to_server()"
          ng-disabled="!dumped_string">
          Upload dump to Server
        </button> -->
        <button class="button button-block button-energized" type="button"
          ng-click="write_file()"
          ng-disabled="!dumped_string">
          Write File
        </button>
        <span>{{ write_file_status }}</span>

        <br><br><hr>

        <span>{{status_log}}</span>
        <br>
        <input type="text" name="gserver_ip" ng-model="server_ip">
        <button type="button" name="set_ip" class="button button-positive"
          ng-click="set_ip(server_ip)">set_ip</button>
        <br><br>
        <button type="button" name="socket_create" class="button button-positive"
          ng-click="socket_create()">socket_create</button>
        <br><br>
        <button type="button" name="connect" class="button button-positive"
          ng-click="connect()">connect</button>
        <br><br>
        <button type="button" name="disconnect" class="button button-positive"
          ng-click="disconnect()">disconnect</button>
        <br><br>
        <button type="button" name="close" class="button button-positive"
          ng-click="close()">close</button>
        <br><br>
        <input type="text" name="data_sent" ng-model="data_sent">
        <button type="button" name="send" class="button button-positive"
          ng-click="send(data_sent)">send</button>
        <br><br>
        <button type="button" name="send" class="button button-balanced"
          ng-click="send_dump()">send_dump</button>

        <br><br><br>

        <button class="button button-block button-calm" type="button"
          ng-click="sync_local_pouchdb()">
          Sync Local &lt;-&gt; Remote
        </button>
        <button class="button button-block button-assertive" type="button"
          ng-click="see_all_docs()">
          See all docs
        </button>

        <input type="text" name="name" ng-model="doc_filter" placeholder="search doc">
        <span>Number of docs: {{ docs.length }}</span>
        <ion-list>
          <ion-item ng-repeat="doc in docs | filter:doc_filter ">
            ID: {{ doc.doc._id | limitTo:4 }} - Name: {{ doc.doc.name }} - Profession: {{ doc.doc.profession }}
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-pane>
  </body>
</html>
